@if (items().length > 0) {
  <nav class="app-breadcrumbs" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="homeRoute"><i class="fa fa-home" aria-hidden="true"></i> {{ 'ECommerce::Menu:Home' | abpLocalization }}</a>
      </li>
      @for (item of items(); track $index; let last = $last) {
        <li class="breadcrumb-item" [class.active]="last" [attr.aria-current]="last ? 'page' : null">
          @if (last || !item.route) {
            <span>{{ item.label | abpLocalization }}</span>
          } @else {
            <a [routerLink]="item.route">{{ item.label | abpLocalization }}</a>
          }
        </li>
      }
    </ol>
  </nav>
}
